<div class="small-12 grid-block">
    <div class="small-8 grid-block">
        <div class="small-12 grid-content">
            <div class="row collapse date" id="dpMonths" data-date-format="mm/yyyy" data-start-view="year" data-min-view="year" style="max-width:200px;">
                <div class="small-9 columns">
                    <input size="16" value="02/2012" readonly="" type="text">
                </div>
                <div class="small-3 columns">
                    <span class="prefix"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="small-12 grid-block p-top">
    <div class="small-12 grid-content">
        <textarea>Add Note Here..</textarea>
    </div>
</div>
<div class="small-12 gird-block p-top">
    <div class="small-12 grid-block wrap">
        <div class="small-12 text-center grid-content">
            <a class="tiny button but_bill">Submit</a>
        </div>
    </div>
</div>