<div class="small-12 grid-block">
    <div class="small-5 grid-block wrap">
        <div class="small-12 gride-block">
            <div class="p-top">
                <span class="txt-head">Name:</span>
            </div>
        </div>
    </div>
</div>
<div class="small-12 grid-block">
    <div class="small-4 grid-block wrap">
        <div class="small-12 grid-block">
            <div class="p-top">
                <input name="first_name" placeholder="First Name" ng-model="pInfo.first_name">
            </div>
        </div>
    </div>
    <div class="small-4 grid-block wrap">
        <div class="small-12 grid-block">
            <div class="p-top">
                <input name="last_name" placeholder="Last Name" ng-model="pInfo.last_name">
            </div>
        </div>
    </div>
</div>

<div class="small-12 grid-block">
    <div class="small-8 grid-block wrap">
        <div class="small-12 grid-block">
            <div class="p-top">
                <span class="txt-head">Address:</span>
            </div>
        </div>
        <div class="small-12 grid-block">
            <div class="p-top">
                <input name="search" placeholder="addy1" ng-model="pInfo.addy1">
            </div>
        </div>
        <div class="small-12 grid-block">
            <div class="p-top">
                <input name="search" placeholder="addy2" ng-model="pInfo.addy2">
            </div>
        </div>
    </div>
    <div class="small-4 grid-block wrap">
        <div class="small-12 grid-block">
            <div class="p-top">
                <span class="txt-head">Phone:</span>
            </div>
        </div>
        <div class="small-12 grid-block">
            <div class="p-top">
                <input name="search" placeholder="phone1" ng-model="pInfo.phone_number1">
            </div>
        </div>
        <div class="small-12 grid-block">
            <div class="p-top">
                <input name="search" placeholder="phone2" ng-model="pInfo.phone_number2">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-12 grid-block">
        <div class="small-3 grid-block wrap">
            <div class="small-12 grid-block">
                <div class="p-top">
                    <input name="search" placeholder="city" ng-model="pInfo.city">
                </div>
            </div>
        </div>
        <div class="small-3 grid-block wrap">
            <div class="small-12 grid-block">
                <div class="p-top">
                    <input name="search" placeholder="state" ng-model="pInfo.state">
                </div>
            </div>
        </div>
        <div class="small-3 grid-block wrap">
            <div class="small-12 grid-block">
                <div class="p-top">
                    <input name="search" placeholder="zip" ng-model="pInfo.zip">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-12 gride-block">
        <div class="small-4 gride-block" >
            <div class="small-12 grid-block">
                <div class="p-top">
                    <span class="txt-head">Email Address:</span>
                </div>
            </div>
        </div>
        <div class="small-4 gride-block">
            <div class="small-12 grid-block">
                <div class="p-top">
                    <input name="search" placeholder="email" ng-model="pInfo.email_address">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-12 grid-block">
        <div class="small-3 grid-block wrap">
            <div class="small-12 grid-block">
                <div class="p-top">
                    <span class="txt-head">Twitter:</span>
                </div>
            </div>
            <div class="small-12 grid-block">
                <div class="p-top">
                    <input name="search" placeholder="twitter" ng-model="pInfo.twitter">
                </div>
            </div>
        </div>
        <div class="small-3 grid-block wrap">
            <div class="small-12 grid-block">
                <div class="p-top">
                    <span class="txt-head">Facebook:</span>
                </div>
            </div>
            <div class="small-12 grid-block">
                <div class="p-top">
                    <input name="search" placeholder="facebook" ng-model="pInfo.facebook">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-12 gride-block">
        <div class="small-10 gride-block" >
            <div class="small-12 grid-block">
                <div class="p-top">
                    <span class="txt-head">Referral Type:</span>
                </div>
            </div>
        </div>
        <div class="small-10 gride-block">
            <div class="small-12 grid-block">
                <div class="p-top">
                    <input name="search" placeholder="referal type" ng-model="pInfo.referal_type">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-12 grid-block">
        <div class="small-6 grid-block wrap">
            <div class="small-12 grid-block">
                <div class="p-top">
                    <span class="txt-head">Family Physician Name:</span>
                </div>
            </div>
            <div class="small-12 grid-block">
                <div class="p-top">
                    <input name="search" placeholder="physician name" ng-model="pInfo.physician_name">
                </div>
            </div>
            <div class="small-12 grid-block">
                <div class="p-top">
                    <span class="txt-head">Emergency Contact #1</span>
                </div>
            </div>
            <div class="small-12 grid-block">
                <div class="p-top">
                    <input name="search" placeholder="emergency contact no.1" ng-model="pInfo.emergency_contact1">
                </div>
            </div>
            <div class="small-12 grid-block">
                <div class="p-top">
                    <span class="txt-head">Emergency Contact #2</span>
                </div>
            </div>
            <div class="small-12 grid-block">
                <div class="p-top">
                    <input name="search" placeholder="emergency contact no.2" ng-model="pInfo.emergeycy_contact2">
                </div>
            </div>
        </div>
        <div class="small-6 grid-block wrap">
            <div class="small-12 grid-block">
                <div class="p-top">
                    <span class="txt-head">Family Physician Phone</span>
                </div>
            </div>
            <div class="small-12 grid-block">
                <div class="p-top">
                    <input name="search" placeholder="physician phone" ng-model="pInfo.physician_phone">
                </div>
            </div>
            <div class="small-12 grid-block">
                <div class="p-top">
                    <span class="txt-head">Emergency Contact #1 Phone</span>
                </div>
            </div>
            <div class="small-12 grid-block">
                <div class="p-top">
                    <input name="search" placeholder="emergency phone 1" ng-model="pInfo.emergency_phone1">
                </div>
            </div>
            <div class="small-12 grid-block">
                <div class="p-top">
                    <span class="txt-head">Emergency Contact #2 Phone</span>
                </div>
            </div>
            <div class="small-12 grid-block">
                <div class="p-top">
                    <input name="search" placeholder="emergency phone 2" ng-model="pInfo.emergency_phone2">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-12 gride-block">
        <div class="small-11 gride-block" >
            <div class="small-12 grid-block">
                <div class="p-top">
                    <span class="txt-head">Other Info</span>
                </div>
            </div>
        </div>
        <div class="small-11 gride-block">
            <div class="small-12 grid-block">
                <div class="p-top">
                    <textarea name="search" ng-model="pInfo.other_info">other info</textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-alert class="alert-box {{errpInfo.type}} radius" ng-show=" errpInfo.hasError">
    {{ errpInfo.message }}
    <a href="#" class="close">&times;</a>
</div>
<div class="small-12 gird-block p-top">
    <div class="small-12 grid-block wrap">
        <div class="small-12 text-right grid-content">
            <a class="tiny button" ng-click="edit_parent_info()">Update</a>
        </div>
    </div>
</div>