<div class="small-12 grid-block">
    <div class="small-4 grid-content">
        <span class="txt-head">Scholarship Name :</span>
    </div>
</div>
<div class="small-12 grid-block p-top">
    <div class="small-10 grid-block">
        <div class="small-12 grid-content">
            <input name="search" placeholder="" ng-model="scholarshipInfo.name">
        </div>
    </div>
</div>
<div class="small-12 grid-block">
    <div class="small-4 grid-content">
        <span class="txt-head">Scholarship Contact :</span>
    </div>
</div>
<div class="small-12 grid-block p-top">
    <div class="small-10 grid-block">
        <div class="small-12 grid-content">
            <input name="search" placeholder="" ng-model="scholarshipInfo.contact_info">
        </div>
    </div>
</div>
<div class="small-12 grid-block p-top">
    <div class="small-8 grid-block wrap">
        <div class="small-12 grid-content">
            <span class="txt-head">Address :</span>
        </div>
    </div>
    <div class="small-4 grid-block wrap">
        <div class="small-12 grid-content">
            <span class="txt-head">Phone :</span>
        </div>
    </div>
</div>
<div class="small-12 grid-block p-top">
    <div class="small-8 grid-block wrap">
        <div class="small-12 grid-content">
            <input name="search" placeholder="" ng-model="scholarshipInfo.addy1">
        </div>
        <div class="small-12 grid-content p-top">
            <input name="search" placeholder="" ng-model="scholarshipInfo.addy2">
        </div>
        <div class="small-12 grid-block p-top">
            <div class="small-4 grid-block wrap">
                <div class="small-12 grid-content">
                    <input name="search" placeholder="" ng-model="scholarshipInfo.city">
                </div>
            </div>
            <div class="small-3 grid-block wrap">
                <div class="small-12 grid-block">
                    <input name="search" placeholder="" ng-model="scholarshipInfo.state">
                </div>
            </div>
            <div class="small-2 grid-block wrap">
                <div class="small-12 grid-block text-center" ng-model="scholarshipInfo.zip">
                    <input name="search" placeholder="">
                </div>
            </div>
        </div>
        <div class="small-12 grid-block p-top">
            <div class="small-8 grid-block">
                <div class="small-12 grid-content">
                    <span class="txt-head">Student Email Address</span>
                </div>
            </div>
        </div>
        <div class="small-12 grid-block p-top">
            <div class="small-8 grid-block">
                <div class="small-12 grid-content">
                    <input name="search" placeholder="" ng-model="scholarshipInfo.email_address">
                </div>
            </div>
        </div>
    </div>
    <div class="small-4 grid-block wrap">
        <div class="row">
            <div class="small-12 grid-content">
                <input name="search" placeholder="" ng-model="scholarshipInfo.phone1">
            </div>
            <div class="small-12 grid-content p-top">
                <input name="search" placeholder="" ng-model="scholarshipInfo.phone2">
            </div>
        </div>
    </div>
</div>
<div class="small-12 grid-block p-top">
    <div class="small-6 grid-block wrap">
        <div class="small-12 grid-content">
            <span class="txt-head">Twitter :</span>
        </div>
        <div class="small-12 grid-content p-top">
            <input name="search" placeholder="" ng-model="scholarshipInfo.twitter">
        </div>
    </div>
    <div class="small-6 grid-block wrap">
        <div class="small-12 grid-content">
            <span class="txt-head">Facebook :</span>
        </div>
        <div class="small-12 grid-content p-top">
            <input name="search" placeholder="" ng-model="scholarshipInfo.facebook">
        </div>
    </div>
</div>
<hr>
<div class="small-12 grid-block">
    <div class="small-6 grid-block">
        <div class="small-12 grid-content">
            <span class="txt-head">Semester</span>
        </div>
    </div>
</div>
<div class="small-12 grid-block p-top">
    <div class="small-3 grid-block wrap">
        <div class="small-12 grid-content">
            <select class="txt-head">
                <option value="0">-Auto</option>
            </select>
        </div>
    </div>
    <div class="small-6 grid-block wrap">
        <div class="small-12 grid-content">
            <input type="radio" class="radio" value="Male">
            <span class="txt-head">Automatically Recurring</span>
        </div>
    </div>
</div>
<div class="small-12 grid-block">
    <div class="small-3 grid-block wrap">
        <div class="small-12 grid-content">
            <span class="txt-head">Slots Gifted</span>
        </div>
    </div>
    <div class="small-3 grid-block wrap">
        <div class="small-12 grid-content">
            <span class="txt-head">Select Program</span>
        </div>
    </div>
</div>
<div class="small-12 grid-block p-top">
    <div class="small-3 grid-block wrap">
        <div class="small-12 grid-content">
            <input name="search" placeholder="">
        </div>
    </div>
    <div class="small-2 grid-block wrap">
        <div class="small-12 grid-content">
            <input type="checkbox" class="radio" value="Male">
            <span class="txt-head">Core</span>
        </div>
    </div>
    <div class="small-2 grid-block wrap">
        <div class="small-12 grid-content">
            <input type="checkbox" class="radio" value="Male">
            <span class="txt-head">Hs</span>
        </div>
    </div>
    <div class="small-2 grid-block wrap">
        <div class="small-12 grid-content">
            <input type="checkbox" class="radio" value="Male">
            <span class="txt-head">Adult</span>
        </div>
    </div>
</div>
<div class="small-12 gird-block p-top">
    <div class="small-8 grid-block">
        <div class="small-12 grid-content">
            <span class="txt-head">Requirements of Scholarship & Note</span>
        </div>
    </div>
</div>
<div class="small-12 gird-block p-top">
    <div class="small-12 grid-block">
        <div class="small-12 grid-content">
            <textarea class="txt-head" ng-model="scholarshipInfo.notes"></textarea>
        </div>
    </div>
</div>
<div class="small-12 gird-block p-top">
    <div class="small-12 grid-block wrap">
        <div class="small-12 text-right grid-content">
            <a class="tiny button" ng-click="add_scholarship()">Submit</a>
        </div>
    </div>
</div>