<div class="small-12 grid-block">
    <div class="small-6 grid-block wrap">
        <div class="small-12 grid-content">
            <span class="txt-head">ASSIGN SCHOLARSHIP</span>
        </div>
        <div class="small-12 grid-content p-top">
            <select class="txt-head">
                <option value="0">Henry Foundation</option>
            </select>
        </div>
    </div>
    <div class="small-6 grid-block wrap">
        <div class="small-12 grid-content">
            <span class="txt-head">SEMESTER</span>
        </div>
        <div class="small-12 grid-content p-top">
            <select class="txt-head">
                <option value="0">Fall 2015</option>
            </select>
        </div>
    </div>
</div>
<div class="small-12 grid-block p-top">
    <div class="small-12 grid-content">
        <textarea class="txt-head" rows="5">
            Information About Scholarship Requiremetns here...
        </textarea>
    </div>
</div>