<div class="small-12 grid-block">
    <div class="small-4 grid-content p-top">
        <span class="txt-head">Name :</span>
    </div>
</div>
<div class="small-12 grid-block p-top">
    <div class="small-4 grid-block wrap">
        <div class="small-12 grid-content">
            <input name="search" placeholder="Firstname" ng-model="studentInfo.first_name">
        </div>
    </div>
    <div class="small-4 grid-block wrap">
        <div class="small-12 grid-content">
            <input name="search" placeholder="Lastname" ng-model="studentInfo.last_name">
        </div>
    </div>
</div>
<div class="small-12 grid-block p-top">
    <div class="small-4 grid-block wrap">
        <div class="small-12 grid-content">
            <span class="txt-head">DOM</span>
        </div>
    </div>
    <div class="small-4 grid-block wrap">
        <div class="small-12 grid-content">
            <span class="txt-head">Age :</span>
        </div>
    </div>
    <div class="small-4 grid-block wrap">
        <div class="small-12 grid-content">
            <span class="txt-head">Gender :</span>
        </div>
    </div>
</div>
<div class="small-12 grid-block p-top">
    <div class="small-4 grid-block wrap">
        <div class="small-12 grid-content">
            <input name="search" placeholder="Dom" ng-model="studentInfo.dom">
        </div>
    </div>
    <div class="small-2 grid-block wrap">
        <div class="small-12 grid-content">
            <input name="search" placeholder="Age" ng-model="studentInfo.age">
        </div>
    </div>
    <div class="small-3 grid-block wrap">
        <div class="small-12 grid-content text-center">
            <input type="radio" class="radio" value="Male">
            <span class="txt-head">Male</span>
        </div>
    </div>
    <div class="small-3 grid-block wrap">
        <div class="small-12 grid-content text-center">
            <input type="radio" class="radio" value="Female">
            <span class="txt-head">Female</span>
        </div>
    </div>
</div>
<div class="small-12 grid-block p-top">
    <div class="small-2 grid-block wrap">
        <div class="small-12 grid-content">
            <span class="txt-head">Grade:</span>
        </div>
    </div>
    <div class="small-4 grid-block wrap">
        <div class="small-12 grid-content">
            <span class="txt-head">School :</span>
        </div>
    </div>
    <div class="small-6 grid-block wrap">
        <div class="small-12 grid-content">
            <span class="txt-head">Hackstudio Anniversary :</span>
        </div>
    </div>
</div>
<div class="small-12 grid-block p-top">
    <div class="small-2 grid-block wrap">
        <div class="small-12 grid-content">
            <input name="search" placeholder="Grade" ng-model="studentInfo.grade">
        </div>
    </div>
    <div class="small-4 grid-block wrap">
        <div class="small-12 grid-content">
            <input name="search" placeholder="School" ng-model="studentInfo.school">
        </div>
    </div>
    <div class="small-6 grid-block wrap">
        <div class="small-10 grid-content text-center">
            <input name="search" placeholder="Anniversary" ng-model="studentInfo.hack_anniversary">
        </div>
    </div>
</div>
<div class="small-12 grid-block p-top">
    <div class="small-8 grid-block wrap">
        <div class="small-12 grid-content">
            <span class="txt-head">Address :</span>
        </div>
    </div>
    <div class="small-4 grid-block wrap">
        <div class="small-12 grid-content">
            <span class="txt-head">Phone :</span>
        </div>
    </div>
</div>
<div class="small-12 grid-block p-top">
    <div class="small-8 grid-block wrap">
        <div class="small-12 grid-content">
            <input name="search" placeholder="addy1" ng-model="studentInfo.addy1">
        </div>
        <div class="small-12 grid-content p-top">
            <input name="search" placeholder="addy2" ng-model="studentInfo.addy2">
        </div>
        <div class="small-12 grid-block p-top">
            <div class="small-4 grid-block wrap">
                <div class="small-12 grid-content">
                    <input name="search" placeholder="city" ng-model="studentInfo.city">
                </div>
            </div>
            <div class="small-3 grid-block wrap">
                <div class="small-12 grid-block">
                    <div class="small-12 grid-content">
                        <input name="search" placeholder="city" ng-model="studentInfo.state">
                    </div>
                </div>
            </div>
            <div class="small-2 grid-block wrap">
                <div class="small-12 grid-block text-center">
                    <input name="search" placeholder="zip" ng-model="studentInfo.zip">
                </div>
            </div>
        </div>
        <div class="small-12 grid-block p-top">
            <div class="small-8 grid-block">
                <div class="small-12 grid-content">
                    <span class="txt-head">Student Email Address</span>
                </div>
            </div>
        </div>
        <div class="small-12 grid-block p-top">
            <div class="small-8 grid-block">
                <div class="small-12 grid-content">
                    <input name="search" placeholder="student email" ng-model="studentInfo.email_address">
                </div>
            </div>
        </div>
    </div>
    <div class="small-4 grid-block wrap">
        <div class="row">
            <div class="small-12 grid-content">
                <input name="search" placeholder="phone1" ng-model="studentInfo.phone1">
            </div>
            <div class="small-12 grid-content p-top">
                <input name="search" placeholder="phone2" ng-model="studentInfo.phone2">
            </div>
        </div>
    </div>
</div>
<div class="small-12 grid-block p-top">
    <div class="small-6 grid-block wrap">
        <div class="small-12 grid-content">
            <span class="txt-head">Physician Name :</span>
        </div>
    </div>
    <div class="small-6 grid-block wrap">
        <div class="small-12 grid-content">
            <span class="txt-head">Physician Phone :</span>
        </div>
    </div>
</div>
<div class="small-12 grid-block p-top">
    <div class="small-6 grid-block wrap">
        <div class="small-12 grid-content">
            <input name="search" placeholder="Physician1" ng-model="pInfo.physician_name" disabled>
        </div>
        <div class="small-12 grid-content p-top">
            <span class="txt-head">Allergies</span>
        </div>
        <div class="small-12 grid-content p-top">
            <input name="search" placeholder="Allergies" ng-model="studentInfo.allergies">
        </div>
    </div>
    <div class="small-6 grid-block wrap">
        <div class="small-12 grid-content">
            <input name="search" placeholder="physician phone" ng-model="pInfo.physician_phone" disabled>
        </div>
    </div>
</div>
<div class="small-12 grid-block p-top">
    <div class="small-6 grid-block wrap">
        <div class="small-12 grid-content">
            <span class="txt-head">Medications :</span>
        </div>
    </div>
    <div class="small-6 grid-block wrap">
        <div class="small-12 grid-content">
            <span class="txt-head">Reasons for Medications :</span>
        </div>
    </div>
</div>
<div class="small-12 grid-block p-top">
    <div class="small-6 grid-block wrap">
        <div class="small-12 grid-content">
            <input name="search" placeholder="Medicians" ng-model="studentInfo.medication">
        </div>
    </div>
    <div class="small-6 grid-block wrap">
        <div class="small-12 grid-content">
            <input name="search" placeholder="Reason for Medician" ng-model="studentInfo.reason_medication">
        </div>
    </div>
</div>
<div class="small-12 grid-block p-top">
    <div class="small-12 grid-content">
        <span class="txt-head">Other Info</span>
    </div>
</div>
<div class="small-12 grid-block p-top">
    <div class="small-12 grid-content">
        <textarea class="txt-head">{{ studentInfo.other_info }}</textarea>
    </div>
</div>
<div data-alert class="alert-box {{errpInfo.type}} radius" ng-show=" errpInfo.hasError">
    {{ errpInfo.message }}
    <a href="#" class="close">&times;</a>
</div>
<div class="small-12 gird-block p-top">
    <div class="small-12 grid-block wrap">
        <div class="small-12 text-right grid-content">
            <a class="tiny button" ng-click="edit_student_info()">Update</a>
        </div>
    </div>
</div>