<div class="small-12 grid-block p-top">
    <div class="small-12 grid-content m-left">
        <div class="nav">
            <ul class="grid-block custom-side-nav vertical">
                <li class="menu"><a class="left_menu button" href="/#!/admin/members">Families/Members</a></li>
                <li class="menu"><a class="left_menu button" ui-sref="/admin/staff">Staff</a></li>
                <li class="menu active"><a class="left_menu button" ui-sref="/admin/classes">Classes</a></li>
                <li class="menu"><a class="left_menu button" ui-sref="/admin/calendar">Calendar</a></li>
                <li class="menu"><a class="left_menu button" ui-sref="/admin/billing">Billing</a></li>
                <li class="menu"><a class="left_menu button" ui-sref="/admin/report">Reports</a></li>
                <li class="menu"><a class="left_menu button" ui-sref="/admin/settings">Settings</a></li>
                <li class="menu"><a class="left_menu button" ui-sref="/admin/enrollment">Enrollment Setup</a></li>
            </ul>
        </div>
    </div>
</div>