<div id="members">
    <div class="small-12 grid-block">
        <div class="small-12 grid-block">
            <div class="grid-block" ng-include="'templates/members/header.html'">
            </div>
        </div>
    </div>
    <div class="row grid-block p-top">
        <div class="small-12 grid-block">
            <div class="small-2 grid-block wrap menu_part">
                <div class="small-12 grid-content">
                    <div class="row" ng-include="'templates/report/left_menu.html'">
                    </div>
                </div>
            </div>
            <div class="small-10 grid-block wrap">
                <div class="row small-12">
                    <div class="small-12 grid-block p-top">
                        <div class="grid-content">
                            <div zf-tabs="" class="">
                                <div class="tab ls-width" zf-tab="" title="Members">
                                    <div class="row">
                                        <div class="small-12 grid-block">
                                            <div class="small-3 grid-block wrap">
                                                <div class="small-12 grid-content m-left p-m-top">
                                                    <input type="checkbox" class="radio">
                                                    <span class="txt-head">Select All</span>
                                                </div>
                                            </div>
                                            <div class="small-9 grid-block align-right wrap">
                                                <div class="small-4 grid-content">
                                                    <input class="ico_search" placeholder="Search">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block p-top">
                                            <div class="small-12 grid-block">
                                                <div class="small-12 grid-content">
                                                    <table class="txt_content div_border">
                                                        <thead>
                                                        <tr class="text-center">
                                                            <th width="5%">X</th>
                                                            <th width="25%">Name</th>
                                                            <th width="20%">Parent</th>
                                                            <th width="25%">Current Session</th>
                                                            <th width="25%">Mentor Name</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr class="div_border">
                                                            <td class="text-center"><input type="checkbox" class="radio"></td>
                                                            <td class="text-center">Mike Allen</td>
                                                            <td class="text-center">Martha Allen</td>
                                                            <td class="text-center">MWF 4:00</td>
                                                            <td class="text-center">John Mentor</td>
                                                        </tr>
                                                        <tr class="div_border">
                                                            <td class="text-center"><input type="checkbox" class="radio"></td>
                                                            <td class="text-center">Robbie Smith</td>
                                                            <td class="text-center">Suzie Smith</td>
                                                            <td class="text-center">TTh 6:00</td>
                                                            <td class="text-center">Joan Mentor</td>
                                                        </tr>
                                                        <tr class="div_border">
                                                            <td class="text-center"><input type="checkbox" class="radio"></td>
                                                            <td class="text-center">Robbie Smith</td>
                                                            <td class="text-center">Suzie Smith</td>
                                                            <td class="text-center">TTh 6:00</td>
                                                            <td class="text-center">Joan Mentor</td>
                                                        </tr>
                                                        <tr class="div_border">
                                                            <td class="text-center">&nbsp;</td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block p-top">
                                            <div class="small-2 grid-content">
                                                <a class="small button full">Print</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab ls-width" zf-tab="" title="Families">
                                    <div class="row">
                                        <div class="small-12 grid-block">
                                            <div class="small-3 grid-block wrap">
                                                <div class="small-12 grid-content m-left p-m-top">
                                                    <input type="checkbox" class="radio">
                                                    <span class="txt-head">Select All</span>
                                                </div>
                                            </div>
                                            <div class="small-9 grid-block align-right wrap">
                                                <div class="small-4 grid-content">
                                                    <input class="ico_search" placeholder="Search">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block p-top">
                                            <div class="small-12 grid-block">
                                                <div class="small-12 grid-content">
                                                    <table class="txt_content div_border">
                                                        <thead>
                                                        <tr class="text-center">
                                                            <th width="5%">X</th>
                                                            <th width="30%">Guardian Name</th>
                                                            <th width="30%">Member Names</th>
                                                            <th width="35%">Phone</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr class="div_border">
                                                            <td class="text-center"><input type="checkbox" class="radio"></td>
                                                            <td class="text-center">Allen Suzie</td>
                                                            <td class="text-center">Martha</td>
                                                            <td class="text-center">123-232-2324</td>
                                                        </tr>
                                                        <tr class="div_border">
                                                            <td class="text-center"><input type="checkbox" class="radio"></td>
                                                            <td class="text-center">Jones Mama</td>
                                                            <td class="text-center">Smith</td>
                                                            <td class="text-center">123-232-4343</td>
                                                        </tr>
                                                        <tr class="div_border">
                                                            <td class="text-center"><input type="checkbox" class="radio"></td>
                                                            <td class="text-center">Robbie Smith</td>
                                                            <td class="text-center">Suzie</td>
                                                            <td class="text-center">123-454-3454</td>
                                                        </tr>
                                                        <tr class="div_border">
                                                            <td class="text-center">&nbsp;</td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block p-top">
                                            <div class="small-2 grid-content">
                                                <a class="small button full">Print</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab ls-width" zf-tab="" title="Scholarships">
                                    <div class="row">
                                        <div class="small-12 grid-block">
                                            <div class="small-3 grid-block wrap">
                                                <div class="small-12 grid-content m-left p-m-top">
                                                    <input type="checkbox" class="radio">
                                                    <span class="txt-head">Select All</span>
                                                </div>
                                            </div>
                                            <div class="small-9 grid-block align-right wrap">
                                                <div class="small-4 grid-content">
                                                    <input class="ico_search" placeholder="Search">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block p-top">
                                            <div class="small-12 grid-block">
                                                <div class="small-12 grid-content">
                                                    <table class="txt_content div_border">
                                                        <thead>
                                                        <tr class="text-center">
                                                            <th width="5%">X</th>
                                                            <th width="25%">Scholarship Name</th>
                                                            <th width="30%">Contact Names</th>
                                                            <th width="20%">Slots Gifted</th>
                                                            <th width="20%">Slots Available</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr class="div_border">
                                                            <td class="text-center"><input type="checkbox" class="radio"></td>
                                                            <td class="text-center">Allen Suzie</td>
                                                            <td class="text-center">Martha</td>
                                                            <td class="text-center">5</td>
                                                            <td class="text-center">3</td>
                                                        </tr>
                                                        <tr class="div_border">
                                                            <td class="text-center"><input type="checkbox" class="radio"></td>
                                                            <td class="text-center">Jones Mama</td>
                                                            <td class="text-center">Smith</td>
                                                            <td class="text-center">3</td>
                                                            <td class="text-center">1</td>
                                                        </tr>
                                                        <tr class="div_border">
                                                            <td class="text-center"><input type="checkbox" class="radio"></td>
                                                            <td class="text-center">Robbie Smith</td>
                                                            <td class="text-center">Suzie</td>
                                                            <td class="text-center">2</td>
                                                            <td class="text-center">0</td>
                                                        </tr>
                                                        <tr class="div_border">
                                                            <td class="text-center">&nbsp;</td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block p-top">
                                            <div class="small-2 grid-content">
                                                <a class="small button full">Print</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab ls-width" zf-tab="" title="Staff">
                                    <div class="row">
                                        <div class="small-12 grid-block">
                                            <div class="small-3 grid-block wrap">
                                                <div class="small-12 grid-content m-left p-m-top">
                                                    <input type="checkbox" class="radio">
                                                    <span class="txt-head">Select All</span>
                                                </div>
                                            </div>
                                            <div class="small-9 grid-block align-right wrap">
                                                <div class="small-4 grid-content">
                                                    <input class="ico_search" placeholder="Search">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block p-top">
                                            <div class="small-12 grid-block">
                                                <div class="small-12 grid-content">
                                                    <table class="txt_content div_border">
                                                        <thead>
                                                        <tr class="text-center">
                                                            <th width="5%">X</th>
                                                            <th width="30%">Name</th>
                                                            <th width="30%">Title</th>
                                                            <th width="35%">Mentoring Sessions</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr class="div_border">
                                                            <td class="text-center"><input type="checkbox" class="radio"></td>
                                                            <td class="text-center">Allen Suzie</td>
                                                            <td class="text-center">Bossman 1</td>
                                                            <td class="text-center">-</td>
                                                        </tr>
                                                        <tr class="div_border">
                                                            <td class="text-center"><input type="checkbox" class="radio"></td>
                                                            <td class="text-center">Jones Mama</td>
                                                            <td class="text-center">Bossman 2</td>
                                                            <td class="text-center">123-232-4343</td>
                                                        </tr>
                                                        <tr class="div_border">
                                                            <td class="text-center"><input type="checkbox" class="radio"></td>
                                                            <td class="text-center">Robbie Smith</td>
                                                            <td class="text-center">Secretary</td>
                                                            <td class="text-center">-</td>
                                                        </tr>
                                                        <tr class="div_border">
                                                            <td class="text-center"><input type="checkbox" class="radio"></td>
                                                            <td class="text-center">Miss Mentor</td>
                                                            <td class="text-center">Mentor</td>
                                                            <td class="text-center">-</td>
                                                        </tr>
                                                        <tr class="div_border">
                                                            <td class="text-center">&nbsp;</td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block p-top">
                                            <div class="small-2 grid-content">
                                                <a class="small button full">Print</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab ls-width" zf-tab="" title="Builder">
                                    <div class="row">
                                        <div class="small-12 grid-block">
                                            <div class="small-12 grid-content div_border align-center p-top">
                                                <div class="small-12 grid-block">
                                                    <div class="small-2 grid-block wrap">
                                                        <div class="small-11 grid-content">
                                                            <a class="button disabled full">Member Name</a>
                                                        </div>
                                                    </div>
                                                    <div class="small-2 grid-block wrap">
                                                        <div class="small-11 grid-content">
                                                            <a class="button disabled full">Cell Phone</a>
                                                        </div>
                                                    </div>
                                                    <div class="small-2 grid-block wrap">
                                                        <div class="small-11 grid-content">
                                                            <a class="button disabled full">Age</a>
                                                        </div>
                                                    </div>
                                                    <div class="small-2 grid-block wrap">
                                                        <div class="small-11 grid-content">
                                                            <a class="button disabled full">Parent Name</a>
                                                        </div>
                                                    </div>
                                                    <div class="small-2 grid-block wrap">
                                                        <div class="small-11 grid-content">
                                                            <a class="button disabled full">Twitter Handle</a>
                                                        </div>
                                                    </div>
                                                    <div class="small-2 grid-block wrap">
                                                        <div class="small-11 grid-content">
                                                            <a class="button disabled full">Day of Class</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block p-top">
                                            <div class="small-12 grid-content div_border align-center p-top">
                                                Member Name X
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block p-m-top">
                                            <div class="small-4 grid-block wrap">
                                                <div class="small-8 grid-content">
                                                    <a class="small button full" zf-open="modal_save_report">Save Report</a>
                                                </div>
                                            </div>
                                            <div class="small-4 grid-block align-center wrap">
                                                <div class="small-8 grid-content">
                                                    <a class="small button full">Replicate Report</a>
                                                </div>
                                            </div>
                                            <div class="small-4 grid-block align-right wrap">
                                                <div class="small-8 grid-content">
                                                    <a class="small button full">Create Csv</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block p-m-bottom">
                                            <table class="txt_content div_border">
                                                <thead>
                                                <tr class="text-center">
                                                    <th width="5%"></th>
                                                    <th width="45%"></th>
                                                    <th width="50%"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="div_border">
                                                        <td class="text-center"><input type="checkbox" class="radio"></td>
                                                        <td class="text-center">Report Name</td>
                                                        <td class="text-center">db fields</td>
                                                    </tr>
                                                    <tr class="div_border">
                                                        <td class="text-center"><input type="checkbox" class="radio"></td>
                                                        <td class="text-center">Report Name</td>
                                                        <td class="text-center">db fields</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div zf-modal="" id="modal_save_report">
            <a zf-close="" class="close-button">×</a>
            <h6>Save Report</h6>
            <hr>
            <div class="row" ng-include="'templates/report/modal_save_report.html'">
            </div>
        </div>
    </div>
    <div class="small-12 grid-block">
        <div class="small-12 grid-block">
            <div class="grid-block" ng-include="'templates/members/footer.html'">
            </div>
        </div>
    </div>
</div>