<div id="members">
    <div class="small-12 grid-block">
        <div class="small-12 grid-block">
            <div class="grid-block" ng-include="'templates/members/header.html'">
            </div>
        </div>
    </div>
    <div class="row grid-block p-top">
        <div class="small-12 grid-block">
            <div class="small-2 grid-block wrap menu_part">
                <div class="small-12 grid-content">
                    <div class="row" ng-include="'templates/settings/left_menu.html'">
                    </div>
                </div>
            </div>
            <div class="small-10 grid-block wrap">
                <div class="row small-12">
                    <div class="small-3 grid-block small-offset-9 p-top">
                        <div class="small-10 grid-content">
                            <input class="ico_search" placeholder="Search">
                        </div>
                    </div>
                    <div class="small-12 grid-block p-top">
                        <div class="grid-content">
                            <div zf-tabs="" class="">
                                <div class="tab m-width" zf-tab="" title="Global">
                                    <div class="row">
                                        <div class="small-12 grid-block">
                                            <div class="small-6 grid-block p-top wrap">
                                                <div class="small-12 grid-content">
                                                    <div class="small-12 div_border p-top">
                                                        <div class="small-12 p-m-bottom">
                                                            Global Settings :
                                                        </div>
                                                        <div class="small-12 p-top">
                                                            <div class="small-12 grid-content">
                                                                <span class="txt-head">Credit Card Processor</span>
                                                            </div>
                                                        </div>
                                                        <div class="small-12 p-top">
                                                            <div class="small-12 grid-content">
                                                                <select class="txt-head">
                                                                    <option value="0">ePN / TDBE</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="small-12 grid-content p-top ">
                                                    <div class="small-12 div_border p-top">
                                                        <div class="small-12 p-m-bottom">
                                                            ePN/Authorize.net API
                                                        </div>
                                                        <div class="small-12">
                                                            <div class="small-12 grid-content">
                                                                <span class="txt-head">SIM API url</span>
                                                            </div>
                                                        </div>
                                                        <div class="small-12 p-top">
                                                            <div class="small-11 grid-content">
                                                                <input class="">
                                                            </div>
                                                        </div>
                                                        <div class="small-12 grid-content">
                                                            <div class="small-12 grid-block p-top">
                                                                <div class="small-6 grid-block wrap3">
                                                                    <div class="small-12 grid-content">
                                                                        <div class="grid-content">
                                                                            <span class="txt-head">Login ID</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="small-6 grid-block wrap3">
                                                                    <div class="small-12 grid-content">
                                                                        <div class="grid-content">
                                                                            <span class="txt-head">Api Key</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="small-12 grid-content">
                                                            <div class="small-12 grid-block p-top p-m-bottom">
                                                                <div class="small-6 grid-block wrap3">
                                                                    <div class="small-12 grid-content">
                                                                        <div class="grid-content">
                                                                            <input class="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="small-6 grid-block wrap3">
                                                                    <div class="small-12 grid-content">
                                                                        <div class="grid-content">
                                                                            <input class="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="small-12 grid-content p-top ">
                                                    <div class="small-12 div_border p-top">
                                                        <div class="small-12 p-m-bottom">
                                                            ePN/TDBE
                                                        </div>
                                                        <div class="small-12">
                                                            <div class="small-12 grid-content">
                                                                <span class="txt-head">Url</span>
                                                            </div>
                                                        </div>
                                                        <div class="small-12 p-top">
                                                            <div class="small-11 grid-content">
                                                                <input class="">
                                                            </div>
                                                        </div>
                                                        <div class="small-12 grid-content">
                                                            <div class="small-12 grid-block p-top">
                                                                <div class="small-6 grid-block wrap3">
                                                                    <div class="small-12 grid-content">
                                                                        <div class="grid-content">
                                                                            <span class="txt-head">Login ID</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="small-6 grid-block wrap3">
                                                                    <div class="small-12 grid-content">
                                                                        <div class="grid-content">
                                                                            <span class="txt-head">Api Key</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="small-12 grid-content">
                                                            <div class="small-12 grid-block p-top p-m-bottom">
                                                                <div class="small-6 grid-block wrap3">
                                                                    <div class="small-12 grid-content">
                                                                        <div class="grid-content">
                                                                            <input class="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="small-6 grid-block wrap3">
                                                                    <div class="small-12 grid-content">
                                                                        <div class="grid-content">
                                                                            <input class="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="small-12 grid-content p-top ">
                                                    <div class="small-12 div_border p-top">
                                                        <div class="small-12 p-m-bottom">
                                                            Billing Frequency
                                                        </div>
                                                        <div class="small-12 grid-content">
                                                            <div class="small-12 grid-block p-top">
                                                                <div class="small-9 grid-block wrap3">
                                                                    <div class="small-12 grid-content">
                                                                        <div class="grid-content p-top">
                                                                            <span class="">Payment reminders sent on the :</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="small-4 grid-block wrap3">
                                                                    <div class="small-12 grid-content">
                                                                        <div class="grid-content">
                                                                            <select class="txt-head">
                                                                                <option value="0">1st</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="small-12 grid-content">
                                                            <div class="small-12 grid-block p-top">
                                                                <div class="small-9 grid-block wrap3">
                                                                    <div class="small-12 grid-content">
                                                                        <div class="grid-content p-top">
                                                                            <span class="">Bill families each month on the :</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="small-4 grid-block wrap3">
                                                                    <div class="small-12 grid-content">
                                                                        <div class="grid-content">
                                                                            <select class="txt-head">
                                                                                <option value="0">1st</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="small-6 grid-block p-top wrap m-left">
                                                <div class="small-12 grid-content">
                                                    <div class="small-12 grid-content">
                                                        <div class="small-12 div_border p-top">
                                                            <div class="small-12 p-m-bottom">
                                                                Google Api :
                                                            </div>
                                                            <div class="small-12 p-top">
                                                                <div class="small-12 grid-content">
                                                                    <span class="txt-head">API Key</span>
                                                                </div>
                                                            </div>
                                                            <div class="small-12 p-top p-m-bottom">
                                                                <div class="small-12 grid-content">
                                                                    <input class="" placeholder="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="small-12 grid-content p-top ">
                                                        <div class="small-12 div_border p-top">
                                                            <div class="small-12 p-m-bottom">
                                                                Email Setup
                                                            </div>
                                                            <div class="small-12 grid-content">
                                                                <div class="small-12 grid-block p-top">
                                                                    <div class="small-6 grid-block wrap3">
                                                                        <div class="small-12 grid-content">
                                                                            <div class="grid-content">
                                                                                <span class="txt-head">Send Method</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="small-6 grid-block wrap3">
                                                                        <div class="small-12 grid-content">
                                                                            <div class="grid-content p-top">
                                                                                <span class="txt-head">Email Catchall</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="small-12 grid-content">
                                                                <div class="small-12 grid-block p-top p-m-bottom">
                                                                    <div class="small-6 grid-block wrap3">
                                                                        <div class="small-12 grid-content">
                                                                            <div class="grid-content">
                                                                                <select class="txt-head">
                                                                                    <option value="0">Queue</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="small-7 grid-block wrap3">
                                                                        <div class="small-12 grid-content">
                                                                            <div class="grid-content">
                                                                                <input class="" placeholder="text">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="small-12 grid-content p-top ">
                                                        <div class="small-12 div_border p-top">
                                                            <div class="small-12 p-m-bottom">
                                                                Mandrill API
                                                            </div>
                                                            <div class="small-12 grid-content">
                                                                <div class="small-12 grid-block p-top">
                                                                    <div class="small-6 grid-block wrap3">
                                                                        <div class="small-12 grid-content">
                                                                            <div class="grid-content">
                                                                                <span class="txt-head">Server</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="small-6 grid-block wrap3">
                                                                        <div class="small-12 grid-content">
                                                                            <div class="grid-content">
                                                                                <span class="txt-head">Port Number</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="small-12 grid-content">
                                                                <div class="small-12 grid-block p-top p-m-bottom">
                                                                    <div class="small-6 grid-block wrap3">
                                                                        <div class="small-12 grid-content">
                                                                            <div class="grid-content">
                                                                                <input class="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="small-6 grid-block wrap3">
                                                                        <div class="small-12 grid-content">
                                                                            <div class="grid-content">
                                                                                <input class="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="small-12 p-top">
                                                                <div class="small-12 grid-content">
                                                                    <span class="txt-head">Username</span>
                                                                </div>
                                                            </div>
                                                            <div class="small-12 p-top">
                                                                <div class="small-12 grid-content">
                                                                    <input class="" placeholder="text">
                                                                </div>
                                                            </div>
                                                            <div class="small-12 p-top">
                                                                <div class="small-12 grid-content">
                                                                    <span class="txt-head">Password</span>
                                                                </div>
                                                            </div>
                                                            <div class="small-12 p-top">
                                                                <div class="small-12 grid-content">
                                                                    <input class="" placeholder="text">
                                                                </div>
                                                            </div>
                                                            <div class="small-12 p-top">
                                                                <div class="small-12 grid-content">
                                                                    <span class="txt-head">Form String</span>
                                                                </div>
                                                            </div>
                                                            <div class="small-12 p-top p-m-bottom">
                                                                <div class="small-12 grid-content">
                                                                    <input class="" placeholder="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-11 grid-block align-right p-m-top">
                                            <div class="small-2 p-m-top">
                                                <a class="tiny button full">Set up</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab m-width" zf-tab="" title="Users">
                                    <div class="row">
                                        <div class="small-12 grid-block">
                                            <div class="small-1 grid-block wrap">
                                                <div class="small-12 grid-content m-left p-top">
                                                    <span class="txt-head">Filter :</span>
                                                </div>
                                            </div>
                                            <div class="small-5 grid-block wrap">
                                                <div class="small-12 grid-content m-left">
                                                    <a class="tiny button">Employees</a>
                                                    <a class="tiny button">Students</a>
                                                    <a class="tiny button">Patrons</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block">
                                            <div class="small-3 grid-block wrap">
                                                <div class="small-12 grid-content m-left p-top">
                                                    <a class="tiny button">Add New</a>
                                                    <a class="tiny button">Delete</a>
                                                </div>
                                            </div>
                                            <div class="small-9 grid-block align-right wrap">
                                                <div class="small-4 grid-content">
                                                    <input class="ico_search" placeholder="Search">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block p-top">
                                            <div class="small-12 grid-block">
                                                <div class="small-12 grid-content">
                                                    <table class="txt_content div_border">
                                                        <thead>
                                                        <tr class="text-center">
                                                            <th width="5%">X</th>
                                                            <th width="20%">Last Name</th>
                                                            <th width="20%">First Name</th>
                                                            <th width="20%">Username</th>
                                                            <th width="20%">Email Address</th>
                                                            <th width="15%">Groups</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr class="div_border">
                                                            <td class="text-center">&nbsp;</td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                        </tr>
                                                        <tr class="div_border">
                                                            <td class="text-center">&nbsp;</td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                        </tr>
                                                        <tr class="div_border">
                                                            <td class="text-center">&nbsp;</td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                        </tr>
                                                        <tr class="div_border">
                                                            <td class="text-center">&nbsp;</td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-11 grid-block align-right p-m-top">
                                            <div class="small-2 grid-content">
                                                <a class="small button full">Set up</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div zf-modal="" id="modal_staff_info">
            <a zf-close="" class="close-button">×</a>
            <h6>Edit Info</h6>
            <hr>
            <div class="row" ng-include="'templates/staff/modal_staff_info.html'">
            </div>
        </div>
    </div>
    <div class="small-12 grid-block">
        <div class="small-12 grid-block">
            <div class="grid-block" ng-include="'templates/members/footer.html'">
            </div>
        </div>
    </div>
</div>