<div class="small-12 grid-block">
	<div class="small-8 grid-block wrap">
		<div class="small-12 grid-content">
			<span class="txt-head">Name :</span>
		</div>
	</div>
	<div class="small-3 grid-block wrap">
		<div class="small-12 grid-content">
			<span class="txt-head">DOB :</span>
		</div>
	</div>
</div>
<div class="small-12 grid-block">
	<div class="small-8 grid-block wrap">
		<div class="small-12 grid-content">
			<input name="search" placeholder="-auto-" ng-model="staffInfo.name">
		</div>
	</div>
	<div class="small-3 grid-block wrap">
		<div class="small-12 grid-content">
			<input name="search" placeholder="mm/dd/yy" ng-model="staffInfo.dob">
		</div>
	</div>
</div>
<div class="small-12 grid-block p-top">
	<div class="small-8 grid-block wrap">
		<div class="small-12 grid-content">
			<span class="txt-head">Address :</span>
		</div>
	</div>
</div>
<div class="small-12 grid-block p-top">
	<div class="small-8 grid-block wrap">
		<div class="small-12 grid-content">
			<input name="search" placeholder="-auto-" ng-model="staffInfo.addy1">
		</div>
		<div class="small-12 grid-content p-top">
			<input name="search" placeholder="" ng-model="staffInfo.addy2">
		</div>
		<div class="small-12 grid-block p-top">
			<div class="small-4 grid-block wrap">
				<div class="small-12 grid-content">
					<input name="search" placeholder="" ng-model="staffInfo.city">
				</div>
			</div>
			<div class="small-3 grid-block wrap">
				<div class="small-12 grid-block">
					<input name="search" placeholder="" ng-model="staffInfo.state">
				</div>
			</div>
			<div class="small-2 grid-block wrap">
				<div class="small-12 grid-block text-center">
					<input name="search" placeholder="" ng-model="staffInfo.zip">
				</div>
			</div>
		</div>
	</div>
	<div class="small-4 grid-block wrap p-m-top">
		<div class="row">
			<div class="small-12 grid-content">
				<span class="txt-head">Phone :</span>
			</div>
			<div class="small-12 grid-content p-top">
				<input name="search" placeholder="" ng-model="staffInfo.phone">
			</div>
		</div>
	</div>
</div>
<div class="small-12 grid-block p-top">
	<div class="small-6 grid-block wrap">
		<div class="small-12 grid-content">
			<span class="txt-head">Email Address :</span>
		</div>
	</div>
</div>
<div class="small-12 grid-block p-top">
	<div class="small-6 grid-block wrap">
		<div class="small-12 grid-content p-top">
			<input name="search" placeholder="" ng-model="staffInfo.email_address">
		</div>
	</div>
</div>
<div class="small-12 grid-block p-top">
	<div class="small-6 grid-block wrap">
		<div class="small-12 grid-content">
			<span class="txt-head">Twitter :</span>
		</div>
		<div class="small-12 grid-content p-top">
			<input name="search" placeholder="" ng-model="staffInfo.twitter">
		</div>
	</div>
	<div class="small-6 grid-block wrap">
		<div class="small-12 grid-content">
			<span class="txt-head">Facebook :</span>
		</div>
		<div class="small-12 grid-content p-top">
			<input name="search" placeholder="" ng-model="staffInfo.facebook">
		</div>
	</div>
</div>

<div class="small-12 grid-block m-p-top">
	<div class="small-6 grid-block wrap">
		<div class="small-12 grid-content">
			<span class="txt-head">Emergency Contact Name</span>
		</div>
		<div class="small-12 grid-content p-top">
			<input name="search" placeholder="" ng-model="staffInfo.emergency_name">
		</div>
	</div>
	<div class="small-6 grid-block wrap">
		<div class="small-12 grid-content">
			<span class="txt-head">Emergency Contact Phone</span>
		</div>
		<div class="small-12 grid-content p-top">
			<input name="search" placeholder="" ng-model="staffInfo.emergency_phone">
		</div>
	</div>
</div>

<div class="small-12 gird-block p-top">
	<div class="small-8 grid-block">
		<div class="small-12 grid-content">
			<span class="txt-head">Other Info</span>
		</div>
	</div>
</div>
<div class="small-12 gird-block p-top">
	<div class="small-12 grid-block">
		<div class="small-12 grid-content">
			<textarea class="txt-head" data-ng-model="staffInfo.other_info"></textarea>
		</div>
	</div>
</div>
<div data-alert class="alert-box {{errpInfo.type}} radius" ng-show=" errpInfo.hasError">
	{{ errpInfo.message }}
	<a href="#" class="close">&times;</a>
</div>

<div class="small-12 gird-block p-top">
	<div class="small-12 grid-block wrap">
		<div class="small-12 text-right grid-content">
			<a class="tiny button" ng-click="edit_staff_info()">Submit</a>
		</div>
	</div>
</div>