<div class="small-12 grid-block">
	<div class="small-2 grid-block wrap p-top">
		<div class="small-12 grid-content">
			<span class="txt-head">Select Term</span>
		</div>
	</div>
	<div class="small-2 grid-block wrap">
		<div class="small-12 grid-content">
			<select class="txt-head">
				<option value="0">Fall 2015</option>
				<option value="1">Winter 2015</option>
			</select>
		</div>
	</div>
	<div class="small-8 grid-block wrap">
		<div class="small-4 small-offset-6 grid-content">
			<table class="txt_content div_border">
				<thead>
					<tr class="text-center">
						<th width="100%">AVALIABLITY SELECTED</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center">T 4:00</td>
					</tr>
					<tr>
						<td class="text-center">SALLY SMITH</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="small-12 grid-block p-m-top">
	<div class="small-6 grid-block">
		<div class="small-12 grid-content">
			<span class="txt-head">When are you available?</span>
		</div>
	</div>
</div>

<div class="small-12 grid-block p-m-top">
	<div class="small-12 grid-block">
		<div class="small-8 grid-content small-offset-1">
			<table class="txt_content div_border">
				<thead>
				<tr class="text-center">
					<th width="20%">Monday</th>
					<th width="20%">Tuesday</th>
					<th width="20%">Wednesday</th>
					<th width="20%">Thursday</th>
					<th width="20%">Friday</th>
				</tr>
				</thead>
				<tbody>
				<tr class="div_border">
					<td class="text-center">T 4:00</td>
					<td class="text-center">T 4:00</td>
					<td class="text-center">T 4:00</td>
					<td class="text-center">T 4:00</td>
					<td class="text-center">T 4:00</td>
				</tr>
				<tr class="div_border">
					<td class="text-center">SALLY SMITH</td>
					<td class="text-center">SALLY SMITH</td>
					<td class="text-center">SALLY SMITH</td>
					<td class="text-center">SALLY SMITH</td>
					<td class="text-center">SALLY SMITH</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>
<div class="small-12 grid-block p-m-top">
	<div class="small-12 grid-block">
		<div class="small-3 small-offset-8 grid-content">
			<a class="small button but_bill" zf-open="modal_add_note">Set Schedule</a>
		</div>
	</div>
</div>