<div class="small-12 grid-block">
	<div class="small-3 grid-block wrap">
		<div class="small-12 grid-content">
			<span class="txt-head"># Of members</span>
		</div>
	</div>
	<div class="small-4 grid-block wrap">
		<div class="small-12 grid-content">
			<span class="txt-head">Discount Amount</span>
		</div>
	</div>
</div>
<div class="small-12 grid-block p-top">
	<div class="small-3 grid-block wrap">
		<div class="small-12 grid-content">
			<select class="txt-head">
				<option value="0">-Auto</option>
			</select>
		</div>
	</div>
	<div class="small-4 grid-block wrap">
		<div class="small-12 grid-content">
			<input type="text" name="search" placeholder="-auto-" ng-model="staffInfo.name">
		</div>
	</div>
	<div class="small-3 grid-block wrap">
		<div class="small-12 grid-content">
			<select class="txt-head">
				<option value="0">-Auto</option>
			</select>
		</div>
	</div>
	<div class="small-2 grid-block wrap">
		<div class="small-12 grid-content">
			<div class="small-12">
				<a class="tiny button full" ng-click="edit_staff_info()">Add</a>
			</div>
		</div>
	</div>
</div>
<div class="small-12 grid-block p-top">
	<div class="small-12 grid-content">
		<div class="div_border">
			<div class="small-12 grid-block align-center p-top">
				<div class="small-12 grid-content p-m-bottom">
					<table class="txt_content div_border">
						<thead>
							<tr class="text-center">
							</tr>
						</thead>
						<tbody>
							<tr class="div_border">
								<td class="text-center">1</td>
								<td class="text-center">10</td>
								<td class="text-center">Percent</td>
							</tr>
							<tr class="div_border">
								<td class="text-center">2</td>
								<td class="text-center">15</td>
								<td class="text-center">Percent</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="small-12 grid-block align-center p-top p-m-bottom">
				<div class="small-4 grid-content">
					<a class="tiny button full" ng-click="edit_staff_info()">Set Discount</a>
				</div>
			</div>
		</div>
	</div>
</div>